<div class={{selectedTheme}}>
  <h1 class="story-title">Select theme</h1>

  <div class="btn-group">`
    <button class="btn btn--major active" (click)="handleClick('wrapper wrapper--smart-office', $event)">Smart office theme</button>
    <button class="btn btn--major" (click)="handleClick('wrapper', $event)">Light theme</button>
    <button class="btn btn--major" (click)="handleClick('wrapper wrapper--theme-black', $event)">Dark theme</button>
  </div>

  <h1 class="story-title">Colors</h1>

  <section class="color-group">
    <h2 class="list__title list__title--color-group">Button colors</h2>
    <h3 class="list__title list__title--code">Blue</h3>
    <div class="color">
      <div class="color__light-shadows">
        <div class="color__item color-primary-1" data-variale="$color-primary-1"></div>
        <div class="color__item color-primary-2" data-variale="$color-primary-2"></div>
        <div class="color__item color-primary-3"  data-variale="$color-primary-3"></div>
      </div>
      <div class="color__dark-shadows">
        <div class="color__item color__item--primary color-primary" data-variale="$color-primary"></div>
        <div class="color__item color-primary-4" data-variale="$color-primary-4"></div>
        <div class="color__item color-primary-5" data-variale="$color-primary-5"></div>
      </div>
    </div>

    <h3 class="list__title list__title--code">Orange</h3>
    <div class="color">
      <div class="color__light-shadows">
        <div class="color__item color-secondary-1" data-variale="$color-secondary-1"></div>
        <div class="color__item color-secondary-2" data-variale="$color-secondary-2"></div>
        <div class="color__item color-secondary-3" data-variale="$color-secondary-3"></div>
      </div>
      <div class="color__dark-shadows">
        <div class="color__item color__item--primary color-secondary" data-variale="$color-secondary"></div>
        <div class="color__item color-secondary-4" data-variale="$color-secondary-2"></div>
        <div class="color__item color-secondary-5" data-variale="$color-secondary-3"></div>
      </div>
    </div>
  </section>

  <section class="color-group">
    <h2 class="list__title list__title--color-group">Primary colors</h2>
    <h3 class="list__title list__title--code">Comlementary colors</h3>
    <div class="color">
      <div class="color__light-shadows">
        <div class="color__item color-complementary-1" data-variale="$color-complementary-1"></div>
        <div class="color__item color-complementary-2" data-variale="$color-complementary-2"></div>
        <div class="color__item color-complementary-3"  data-variale="$color-complementary-3"></div>
      </div>
      <div class="color__dark-shadows">
        <div class="color__item color__item--primary color-complementary" data-variale="$color-complementary"></div>
        <div class="color__item color-complementary-4" data-variale="$color-complementary-4"></div>
        <div class="color__item color-complementary-5" data-variale="$color-complementary-5"></div>
      </div>
    </div>

    <h3 class="list__title list__title--code">Greyscale</h3>
    <div class="color">
      <div class="color__light-shadows">
        <div class="color__item color-grayscale-1" data-variale="$color-secondary-1"></div>
        <div class="color__item color-grayscale-2" data-variale="$color-secondary-2"></div>
        <div class="color__item color-grayscale-3" data-variale="$color-secondary-3"></div>
      </div>
      <div class="color__dark-shadows">
        <div class="color__item color__item--primary color-grayscale" data-variale="$color-grayscale"></div>
        <div class="color__item color-grayscale-4" data-variale="$color-grayscale-2"></div>
        <div class="color__item color-grayscale-5" data-variale="$color-grayscale-3"></div>
      </div>
    </div>
  </section>

  <section class="color-group">
    <h2 class="list__title list__title--color-group">Accent colors</h2>
    <h3 class="list__title list__title--code">Warning</h3>
    <div class="color">
      <div class="color__light-shadows">
        <div class="color__item color-warning-1" data-variale="$color-warning-1"></div>
        <div class="color__item color-warning-2" data-variale="$color-warning-2"></div>
        <div class="color__item color-warning-3"  data-variale="$color-warning-3"></div>
      </div>
      <div class="color__dark-shadows">
        <div class="color__item color__item--primary color-warning" data-variale="$color-warning"></div>
        <div class="color__item color-warning-4" data-variale="$color-warning-4"></div>
        <div class="color__item color-warning-5" data-variale="$color-warning-5"></div>
      </div>
    </div>

    <h3 class="list__title list__title--code">Error</h3>
    <div class="color">
      <div class="color__light-shadows">
        <div class="color__item color-error-1" data-variale="$color-error-1"></div>
        <div class="color__item color-error-2" data-variale="$color-error-2"></div>
        <div class="color__item color-error-3" data-variale="$color-error-3"></div>
      </div>
      <div class="color__dark-shadows">
        <div class="color__item color__item--primary color-error" data-variale="$color-error"></div>
        <div class="color__item color-error-4" data-variale="$color-error-2"></div>
        <div class="color__item color-error-5" data-variale="$color-error-3"></div>
      </div>
    </div>

    <h3 class="list__title list__title--code">Success</h3>
    <div class="color">
      <div class="color__light-shadows">
        <div class="color__item color-success-1" data-variale="$color-success-1"></div>
        <div class="color__item color-success-2" data-variale="$color-success-2"></div>
        <div class="color__item color-success-3" data-variale="$color-success-3"></div>
      </div>
      <div class="color__dark-shadows">
        <div class="color__item color__item--primary color-grayscale" data-variale="$color-success"></div>
        <div class="color__item color-success-4" data-variale="$color-success-2"></div>
        <div class="color__item color-success-5" data-variale="$color-success-3"></div>
      </div>
    </div>
  </section>
</div>

