@import './src/assets/scss/abstracts/vars';

.wrapper {
  padding: $wrapper-padding;
  background-color: var(--color-complementary-2);
}

.btn-group {
  margin: 0 0 20px 0;
}

.btn-group .btn{
  margin: 0 20px 0 0;

  font-family: "Lato", sans-serif, Helvetica, Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 24px;
  outline: none;
  border-radius: 0;
  cursor: pointer;

  border: 1px solid #0C71D6;
  background-color: #FFFFFF;
  color: #0C71D6;
}

.btn-group .btn.active {
  background: #0C71D6;
  color: #fff;
}

.wrapper--smart-office {
  background-color: transparent;
  .list__title--code,
  .list__title,
  .story-title,
  .color__item {
    color:#171B20;
  }
}

.color {
  display: flex;
  margin-bottom: 50px;
}
.color__light-shadows,
.color__dark-shadows {
  display: flex;
}
.color-group {
  margin-bottom: 85px;
}

.list__title--color-group {
  margin-bottom: 25px;
}

.color__item {
  width: $width-palette;
  height: $height-palette ;
  list-style: none;
  position: relative;
  color: var(--color-complementary-4);

  //&:after {
  //  content: attr(data-color);
  //  display: block;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //  color: var(--color-complementary-1);
  //}

  &:before {
    content: attr(data-variale);
    display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

.color__item--primary {
  width: $width-color-primary;
}

.color-primary {
  background-color: var(--color-primary);
}
.color-primary-1 {
  background-color: var(--color-primary-1);
}
.color-primary-2 {
  background-color: var(--color-primary-2);
}
.color-primary-3 {
  background-color: var(--color-primary-3);
}
.color-primary-4 {
  background-color: var(--color-primary-4);
}
.color-primary-5 {
  background-color: var(--color-primary-5);
}

.color-secondary {
  background-color: var(--color-secondary);
}
.color-secondary-1 {
  background-color: var(--color-secondary-1);
}
.color-secondary-2 {
  background-color: var(--color-secondary-2);
}
.color-secondary-3 {
  background-color: var(--color-secondary-3);
}
.color-secondary-4 {
  background-color: var(--color-secondary-4);
}
.color-secondary-5 {
  background-color: var(--color-secondary-5);
}


.color-warning {
  background-color: var(--color-warning);
}
.color-warning-1 {
  background-color: var(--color-warning-1);
}
.color-warning-2 {
  background-color: var(--color-warning-2);
}
.color-warning-3 {
  background-color: var(--color-warning-3);
}
.color-warning-4 {
  background-color: var(--color-warning-4);
}
.color-warning-5 {
background-color: var(--color-warning-5);
}

.color-error {
  background-color: var(--color-error);
}
.color-error-1 {
  background-color: var(--color-error-1);
}
.color-error-2 {
  background-color: var(--color-error-2);
}
.color-error-3 {
  background-color: var(--color-error-3);
}
.color-error-4 {
  background-color: var(--color-error-4);
}
.color-error-5 {
  background-color: var(--color-error-5);
}


.color-success {
  background-color: var(--color-success);
}
.color-success-1 {
  background-color: var(--color-success-1);
}
.color-success-2 {
  background-color: var(--color-success-2);
}
.color-success-3 {
  background-color: var(--color-success-3);
}
.color-success-4 {
  background-color: var(--color-success-4);
}
.color-success-5 {
  background-color: var(--color-success-5);
}

// TODO: naming for white and black colors
.color-complementary {
  background-color: var(--color-complementary);
}
.color-complementary-1 {
  background-color: var(--color-complementary-1);
}
.color-complementary-2 {
  background-color: var(--color-complementary-2);
}
.color-complementary-3 {
  background-color: var(--color-complementary-4);
}
.color-complementary-4 {
  background-color: var(--color-complementary-4);
}
.color-complementary-5 {
  background-color: var(--color-complementary-5);
}

.color-grayscale {
  background-color: var(--color-grayscale);
}
.color-grayscale-1 {
  background-color: var(--color-grayscale-1);
}
.color-grayscale-2{
  background-color: var(--color-grayscale-2);
}
.color-grayscale-3 {
  background-color: var(--color-grayscale-3);
}
.color-grayscale-4 {
  background-color: var(--color-grayscale-4);
}
.color-grayscale-5 {
  background-color: var(--color-grayscale-5);
}
