<atom-icon classList="icon icon-download" iconName="icon-download"></atom-icon>

<atom-icon classList="icon icon-spinner" iconName="icon-spinner"></atom-icon>

<atom-icon classList="icon icon-add" iconName="icon-add"></atom-icon>

<atom-icon classList="icon icon-restore" iconName="icon-restore"></atom-icon>
