@mixin titles($font-size-step, $font-weight, $color, $line-height-step, $text-transform: none) {
  font-family: "Lato", sans-serif, Helvetica, Arial;
  font-size: $font-size-step * $font-size-base;
  font-weight: $font-weight;
  color: $color;
  line-height: $line-height-step * $font-size-base;
}
