// COLORS
$color-primary                 : #1087FF;
$color-primary-1        : #F1F7F8;
$color-primary-2         : #0C71D6;
$color-primary-3           : #43A1FF;
$color-primary-4          : #006BC8;
$color-primary-5         : #00387F;

$color-secondary            : #FF6A00;
$color-secondary-1   : #FFDFC8;
$color-secondary-2    : #FF9762;
$color-secondary-3      : #FF8530;
$color-secondary-4     : #B84C00;
$color-secondary-5    : #862900;

$color-warning              : #FFBB00;
$color-warning-1     : #FFFCEC;
$color-warning-2      : #FFD358;
$color-warning-3        : #E8AA00;
$color-warning-4       : #9C5900;
$color-warning-5      : #B0690C;

$color-error                : #E60012;
$color-error-1       : #FFE8E8;
$color-error-2        : #EE5151;
$color-error-3          : #B8000E;
$color-error-4         : #A10914;
$color-error-5        : #880000;

$color-success              : #1CD16E;
$color-success-1     : #EAFBF2;
$color-success-2      : #6DD29B;
$color-success-3        : #28B266;
$color-success-4       : #0F703B;
$color-success-5      : #005722;

// TODO: naming for white and black colors
$color-complementary                : #282C31;
//$color-complementary-1       : #FFFFFF;
$color-complementary-1                : #FFFFFF;
$color-complementary-2        : #EDF1F2;
$color-complementary-4         : #171B20;
$color-complementary-5        : #000000;

$color-grayscale                 : #64768B;
$color-grayscale-1        : #F1F7F8;
$color-grayscale-2         : #9BABBE;
$color-grayscale-3           : #BDC9D4;
$color-grayscale-4          : #425264;
$color-grayscale-5         : #071520;


// FONT-SIZES
$font-size-base             : 8px;
$font-size-primary          : 12px;
$font-size-accent           : 14px;


// BASICS DIMENSIONS
$size-base: 8px;

// BUTTONS
$padding-button-symmetric           : $size-base;
$padding-button-horizontal          : 3 * $size-base;
$padding-button-vertical            : $size-base;

$padding-button-minor-horizontal    : 2 * $size-base;
$padding-button-minor-vertical      : 0.5 * $size-base ;

$border-radius-button               : 2.5 * $size-base;
$border-width-min                   : 1px;

// LINKS (BTN--LINK)
$padding-link-vertical              : 0 * $size-base;
$padding-link-horizontal            : 0.25 * $size-base;
$border-radius-link                 : 0.25 * $size-base;


// temporary wrapper for theme changing
$wrapper-padding                    : 3 * $size-base;


// COLOR PALETTE
$width-palette                     : 19 * $size-base;
$height-palette                    : 7 * $size-base;
$width-color-primary               : 31 *$size-base;

$color-background-atoms            : #EDF1F2;
