.story-icons {
    .title--primary {
        margin-bottom: 35px;
    }

    .list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .list__icon {
        width: 110px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-complementary-1);
        margin-bottom: 10px;
    }

    .list__title {
        margin: 0;
        white-space: nowrap;
    }

}
