#root {
    height: 100%;
}

.wrapper {
    padding: $wrapper-padding;
    background-color: var(--color-complementary-2);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.code{
    padding: 20px;
    background-color: var(--color-grayscale-3);
    border: 1px solid var(--color-grayscale-4);
    border-radius: 3px;
    display: block;
}

.title--primary {
    @include titles($font-size-step: 4,
    $font-weight: 700,
    $color: var(--color-complementary-5),
    $line-height-step: 5);
    margin: 0;
}

.list__title {
    @include titles($font-size-step: 2,
    $font-weight: 700,
    $color: var(--color-complementary-4),
    $line-height-step: 3);
    margin: 30px 0 20px 0;
}
