.story-link {
  .title--primary {
    margin-bottom: 35px;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .list__item {
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 35px 0;
  }

  .list__icon {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-background-atoms;
    margin-bottom: 10px;
  }

  .list__title {
    margin: 0;
    text-align: center;
  }

  .list__title--code {
    text-align: left;
  }
}

.links {
  @include titles($font-size-step: 1.75,
  $font-weight: 400,
  $color: $color-primary,
  $line-height-step: 2);
  display: inline-block;
  background-color: transparent;
  padding: $padding-link-vertical $padding-link-horizontal;
  border: 1px solid transparent;
  border-radius: $border-radius-link;
  text-decoration: none;
}

.links--hover {
  text-decoration: underline;
}

.links--active {
  background-color: #DAEBFC;
  border-radius: $border-radius-link;
  border-color: transparent;
  text-decoration: none;
}

.links--focus {
  text-decoration: underline;
  border-color: #0C71D673;
}

.links--disabled {
  opacity: 0.5;
  pointer-events: none;
}
