@import './src/assets/scss/abstracts/vars';
@import './src/assets/scss/abstracts/mixins';

.table-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
  }

  &__minor-title {
    font-family: "Lato", sans-serif, Helvetica, Arial;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-grayscale);
    line-height: 15px;
  }

  &__value {
    font-family: "Lato", sans-serif, Helvetica, Arial;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-grayscale-4);
    line-height: 24px;
  }
}

.table-list__title {
  width: 18%;
}

.table-list__font-size {
  width: 7%;
}

.table-list__line-height {
  width: 9%;
}

.table-list__container {
  width: 11%;
}

.table-list__weight {
  width: 8%;
}

.table-list__color {
  width: 17%
}

.table-list__atom-title {
  width: 30%;
}




