@import './src/assets/scss/abstracts/vars';
@import './src/assets/scss/abstracts/mixins';

$width-column: 4 * $size-base;
$padding-main: 4 * $size-base;
$margin-column-sides: 1.5 * $size-base;
$margin-column-one-side: 3 * $size-base;

$padding-nav-element-horizontal: 2 * $size-base;
$padding-nav-element-vertical: $size-base;



.list__element {
  width: 100%;

  @include titles($font-size-step: 2,
                  $font-weight: 400,
                  $color: #fff,
                  $line-height-step: 4);
}

.navigation__list {
  .list__element {
    padding: $padding-nav-element-vertical $padding-nav-element-horizontal;
  }
}
