<div class="container">
  <div class="sidebar">
<!--organism-navigation component -->
    <nav class="navigation">
<!--  molecule-list component -->
      <ul class="list navigation__list">
<!--    atom-list-element component -->
        <li class="list__element">
<!--       atom-link component -->
          <atom-link>Dashboard</atom-link>
        </li>
        <li class="list__element">
          <atom-link>Device Manager</atom-link>
        </li>
        <li class="list__element">
          <atom-link>Apps Manager</atom-link>
        </li>
        <li class="list__element">
          <atom-link>Users</atom-link>
        </li>
        <li class="list__element">
          <atom-link>Groups</atom-link>
        </li>
        <li class="list__element">
          <atom-link>Organizations</atom-link>
        </li>
        <li class="list__element">
          <atom-link>Developer</atom-link>
        </li>
        <li class="list__element">
          <atom-link>Activity History</atom-link>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <atom-button></atom-button>
    <atom-link></atom-link>

  </div>
</div>
