<atom-title titleType='primary' classList='title--primary' content='Application'></atom-title>

<atom-title titleType='secondary' classList='title--secondary' content='Application'></atom-title>

<atom-title titleType='minor' classList='title--minor' content='Application'></atom-title>

<atom-title titleType='subtitle' classList='title--sub' content='Application'></atom-title>
