html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: $font-size-primary;
  font-family: "Lato", sans-serif, Helvetica, Arial;

}

// storybook styles
#root {
  height: 100%;
}

.wrapper {
  padding: $wrapper-padding;
  font-family: "Lato", sans-serif, Helvetica, Arial;
}
.wrapper.wrapper--btn {
  padding: 0;
}



