.wrapper--theme-black {
  --color-primary                 : #43A1FF;
  --color-primary-1               : #00355E;
  --color-primary-2               : #005EAF;
  --color-primary-3               : #0071E3;
  --color-primary-4               : #71B8FF;
  --color-primary-5               : #DAEBFC;

  --color-secondary               : #FF6A18;
  --color-secondary-1             : #531900;
  --color-secondary-2             : #A72B00;
  --color-secondary-3             : #CE3500;
  --color-secondary-4             : #FFA158;
  --color-secondary-5             : #FFDFC8;

  --color-warning                 : #FFBF32;
  --color-warning-1               : #4E2C00;
  --color-warning-2               : #8B4F00;
  --color-warning-3               : #E4A700;
  --color-warning-4               : #FFDA83;
  --color-warning-5               : #FFFCEC;

  --color-error                   : #FF4949;
  --color-error-1                 : #460309;
  --color-error-2                 : #810710;
  --color-error-3                 : #CD0010;
  --color-error-4                 : #FF9393;
  --color-error-5                 : #FFE8E8;

  --color-success                 : #28B266;  //  not-actual design color
  --color-success-1               : #005722; //  not-actual design color
  --color-success-2               : #0F703B;
  --color-success-3               : #1CD16E;
  --color-success-4               : #6DD29B; //  not-actual design color
  --color-success-5               : #EAFBF2;

  --color-complementary           : #595D63;
  --color-complementary-1         : #000000;
  --color-complementary-2         : #171B20;
  --color-complementary-3         : #282C31;
  --color-complementary-4         : #EDF1F2;
  --color-complementary-5         : #FFFFFF;

  --color-grayscale               : #889BB2;
  --color-grayscale-1             : #222D3A;
  --color-grayscale-2             : #425264;
  --color-grayscale-3             : #64768B;
  --color-grayscale-4             : #BDC9D4;
  --color-grayscale-5             : #F1F7F8;
}
