.wrapper {
  --color-primary                 : #0071E3;
  --color-primary-1               : #DAEBFC;
  --color-primary-2               : #71B8FF;
  --color-primary-3               : #43A1FF;
  --color-primary-4               : #005EAF;
  --color-primary-5               : #00355E;

  --color-secondary               : #CE3500;
  --color-secondary-1             : #FFDFC8;
  --color-secondary-2             : #FFA158;
  --color-secondary-3             : #FF6A18;
  --color-secondary-4             : #A72B00;
  --color-secondary-5             : #531900;

  --color-warning                 : #E4A700;
  --color-warning-1               : #FFFCEC;
  --color-warning-2               : #FFDA83;
  --color-warning-3               : #FFBF32;
  --color-warning-4               : #8B4F00;
  --color-warning-5               : #4E2C00;

  --color-error                   : #CD0010;
  --color-error-1                 : #FFE8E8;
  --color-error-2                 : #FF9393;
  --color-error-3                 : #FF4949;
  --color-error-4                 : #810710;
  --color-error-5                 : #460309;

  --color-success                 : #1CD16E;
  --color-success-1               : #EAFBF2;
  --color-success-2               : #6DD29B; //  not-actual design color
  --color-success-3               : #28B266;  //  not-actual design color
  --color-success-4               : #0F703B;
  --color-success-5               : #005722; //  not-actual design color

  --color-complementary           : #282C31;
  --color-complementary-1         : #FFFFFF;
  --color-complementary-2         : #EDF1F2;
  --color-complementary-3         : #595D63;
  --color-complementary-4         : #171B20;
  --color-complementary-5         : #000000;

  --color-grayscale               : #64768B;
  --color-grayscale-1             : #F1F7F8;
  --color-grayscale-2             : #BDC9D4;
  --color-grayscale-3             : #889BB2;
  --color-grayscale-4             : #425264;
  --color-grayscale-5             : #222D3A;
}
