.wrapper--smart-office {
  --color-primary                 : #1087ff;
  --color-primary-1               : #f1f7f8;
  --color-primary-2               : #43A1FF;
  --color-primary-3               : #0c71d6;
  --color-primary-4               : #005198;
  --color-primary-5               : #00387f;

  --color-secondary               : #ff6a00;
  --color-secondary-1             : #FFDFC8;
  --color-secondary-2             : #ff8530;
  --color-secondary-3             : #ec6200;
  --color-secondary-4             : #9f4200;
  --color-secondary-5             : #862900;

  --color-warning                 : #ffbb00;
  --color-warning-1               : #fffcec;
  --color-warning-2               : #ffd358;
  --color-warning-3               : #e8aa00;
  --color-warning-4               : #c98225;
  --color-warning-5               : #b0690c;

  --color-error                   : #e60012;
  --color-error-1                 : #ffe8e8;
  --color-error-2                 : #ee5151;
  --color-error-3                 : #b8000e;
  --color-error-4                 : #a10914;
  --color-error-5                 : #880000;

  --color-success                 : #1CD16E;
  --color-success-1               : #EAFBF2;
  --color-success-2               : #6DD29B;
  --color-success-3               : #28B266;
  --color-success-4               : #0F703B;
  --color-success-5               : #005722;

  //  Syncronize color set with two smartoffice themes
  --color-complementary           : #FFFFFF;
  --color-complementary-1         : #0d0d0d;
  --color-complementary-2         : #2a353f;
  --color-complementary-3         : #444f59;
  --color-complementary-4         : #b8c1c7;
  --color-complementary-5         : #edf1f2;

  --color-grayscale               : #0d0d0d;
  --color-grayscale-1             : #1a2229;
  --color-grayscale-2             : #444f59;
  --color-grayscale-3             : #b8c1c7;
  --color-grayscale-4             : #edf1f2;
  --color-grayscale-5             : #ffffff;
}
