@import './src/assets/scss/abstracts/vars';
@import './src/assets/scss/abstracts/mixins';

.btn-group {
  padding: 20px 0;
}
.btn {
  @include titles($font-size-step: 2,
                  $font-weight: 700,
                  $color: #fff,
                  $line-height-step: 3);
  padding: $padding-button-vertical $padding-button-horizontal;
  outline: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background: none;
// delete this testing margin property in future
  margin: 20px 20px 20px 0;

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn__icon {
  vertical-align: top;
  fill: $color-complementary-1;
}

.btn--rounded {
  border-radius: $border-radius-button;
}

.btn--major {
  background-color: $color-secondary;
  box-shadow: 0px 3px 6px $color-secondary-2;

  &:hover {
    background-color: $color-secondary-2;
  }

  &:focus {
    box-shadow: 0px 2px 3px $color-secondary-2,
                0px 0px 0px 0.25 * $size-base $color-complementary-1,
                0px 0px 0px 0.5 * $size-base $color-primary-2;
    background-color: $color-secondary;
  }

  &:active {
    background-color: $color-secondary-4;
    box-shadow: none;
  }
}

.btn--expanded {
  padding: $padding-button-symmetric;
  white-space: nowrap;
  transition: all 0.7s linear;

  .btn__label {
    display: inline-block;
    max-width: 0;
    opacity: 0;
    transition: all 0.7s linear;
  }

  &:hover {
    padding: $padding-button-vertical $padding-button-horizontal;

    .btn__label {
      opacity: 1;
      max-width: 120px;
    }
  }

  &:focus {
    padding: $padding-button-vertical $padding-button-horizontal;

    .btn__label {
      opacity: 1;
      max-width: 120px;
    }
  }

  &:active {
    padding: $padding-button-vertical $padding-button-horizontal;
  }
}

.btn--major-secondary {
  background-color: $color-primary;
  box-shadow: 0px 3px 6px $color-primary-2;

  &:hover {
    background-color: $color-primary-2;
  }

  &:focus {
    box-shadow: 0px 2px 3px $color-primary-2,
                0px 0px 0px 0.25 * $size-base $color-complementary-1,
                0px 0px 0px 0.5 * $size-base $color-primary-2;
    background-color: $color-primary;
  }

  &:active {
    background-color: $color-primary-3;
    box-shadow: none;
  }
}

.btn--primary {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-2;
    box-shadow: 2px 3px 8px $color-primary-2;
  }

  &:focus {
    background-color: $color-primary;
    box-shadow: 0px 0px 0px 0.25 * $size-base $color-complementary-1,
                0px 0px 0px 0.5 * $size-base $color-primary-2;
  }

  &:active {
    background-color: $color-primary-3;
    box-shadow: none;
  }
}

.btn--primary-attention {
  background-color: $color-error;

  &:hover {
    background-color: $color-error-2;
    box-shadow: 2px 3px 8px $color-error-2;
  }

  &:focus {
    background-color: $color-error;
    box-shadow: 0px 0px 0px 0.25 * $size-base $color-complementary-1,
                0px 0px 0px 0.5 * $size-base $color-primary-2;
  }

  &:active {
    background-color: $color-error-3;
    box-shadow: none;
  }
}

.btn--outline {
  border: $border-width-min solid $color-primary-2;
  background-color: $color-complementary-1;
  color: $color-primary-2;

  .btn__icon {
    fill: $color-primary-2;
  }

  &:hover {
    background-color: $color-primary-2;
    box-shadow: 2px 3px 8px $color-primary-2;
    color: $color-complementary-1;

    .btn__icon {
      fill: $color-complementary-1;
    }
  }

  &:focus {
    border-color: $color-primary-2;
    background-color: $color-primary-1;
    box-shadow: none;
    color: $color-primary-2;

    .btn__icon {
      fill: $color-primary-2;
    }
  }

  &:active {
    background-color: $color-primary;
    color: $color-complementary-1;

    .btn__icon {
      fill: $color-complementary-1;
    }
  }
}

.btn--outline-attention {
  border: $border-width-min solid $color-error;
  color: $color-error;
  background-color: $color-complementary-1;

  .btn__icon {
    fill: $color-error;
  }

  &:hover {
    border-color: $color-error-2;
    background-color: $color-error-2;
    box-shadow: 2px 3px 8px $color-error-2;
    color: $color-complementary-1;

    .btn__icon {
      fill: $color-complementary-1;
    }
  }

  &:focus {
    border-color: $color-error;
    background-color: $color-error-1;
    box-shadow: none;
    color: $color-error;

    .btn__icon {
      fill: $color-error;
    }
  }

  &:active {
    background-color: $color-error;
    color: $color-complementary-1;

    .btn__icon {
      fill: $color-complementary-1;
    }
  }
}


.btn--minor {
  @include titles($font-size-step: 2,
          $font-weight: 700,
          $color: $color-primary-2,
          $line-height-step: 3);
  border: 1px solid transparent;
  padding: $padding-button-minor-vertical $padding-button-minor-horizontal;

  .btn__icon {
    fill: $color-primary-2;
  }

  // TODO color in design not from palette
  &:hover {
    background-color: #DAEBFC;
    color: $color-primary;

    .btn__icon {
      fill:  $color-primary;
    }
  }

  &:focus {
    border: 1px solid $color-primary-2;
    background-color: $color-complementary-1;
  }

  &:active {
    border-color: transparent;
    background-color: #DAEBFC;
    color: $color-primary-2;

    .btn__icon {
      fill:  $color-primary-2;
    }
  }
}
