<ng-container [ngSwitch]="titleType">
  <h1 *ngSwitchCase="'primary'" class="{{classList}}">
    {{content}}
  </h1>
  <h2 *ngSwitchCase="'secondary'" class="{{classList}}">
    {{content}}
  </h2>
  <h3 *ngSwitchCase="'minor'" class="{{classList}}">
    {{content}}
  </h3>
  <h4  *ngSwitchCase="'subtitle'" class="{{classList}}">
    {{content}}
  </h4>
</ng-container>
