@import './src/assets/scss/abstracts/vars';
@import './src/assets/scss/abstracts/mixins';

.title {

}

.title--primary {
  @include titles($font-size-step: 4,
                  $font-weight: 700,
                  $color: var(--color-complementary-5),
                  $line-height-step: 5);
}

.title--secondary {
  @include titles($font-size-step: 3,
                  $font-weight: 700,
                  $color: var(--color-complementary-4),
                  $line-height-step: 4);
}

.title--minor {
  @include titles($font-size-step: 2,
                  $font-weight: 700,
                  $color: var(--color-complementary-4),
                  $line-height-step: 3);
}

.title--sub {
  @include titles($font-size-step: 2,
                  $font-weight: 700,
                  $color: var(--color-grayscale),
                  $line-height-step: 3);
                  text-transform: uppercase;
}
