<!-- Call-to-action primary button -->
<atom-button classList="btn btn--major btn--rounded">
  <span class="btn__label">Add User</span>
  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path d="M18 10.547h-4.538V6h-2.915v4.547H6v2.915h4.547V18h2.915v-4.538H18z"/>
  </svg>
</atom-button>

<!--  Call-to-action secondary button -->
<atom-button classList="btn btn--major-secondary btn--rounded">
  <span class="btn__label">Add User</span>
  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path d="M18 10.547h-4.538V6h-2.915v4.547H6v2.915h4.547V18h2.915v-4.538H18z"/>
  </svg>
</atom-button>

<!-- Call-to-action rounded button -->
<atom-button classList="btn btn--major btn--expanded btn--rounded">
  <span class="btn__label">Add User</span>
  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path d="M18 10.547h-4.538V6h-2.915v4.547H6v2.915h4.547V18h2.915v-4.538H18z"/>
  </svg>
</atom-button>
