<atom-button classList="btn btn--minor btn--rounded" disabled="true">
  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path d="M17.503 16.125A5.406 5.406 0 0113.509 18h-.372a8.061 8.061 0 01-1.486-.187l.372-1.406a4.129 4.129 0 001.022.094 4.406 4.406 0 10-4.367-4.407v.563l2.381-.751-2.2 3.188L5 13.782l2.378-.75a4.655 4.655 0 01-.093-1.312 5.019 5.019 0 011.674-4.033A5.584 5.584 0 0113.044 6h.093a5.855 5.855 0 015.853 5.906 5.891 5.891 0 01-1.487 4.219z"/>
  </svg>
  <span class="btn__label">Minor</span>
</atom-button>

<atom-button classList="btn btn--major btn--rounded" disabled="true">
  <span class="btn__label">Add User</span>
  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path d="M18 10.547h-4.538V6h-2.915v4.547H6v2.915h4.547V18h2.915v-4.538H18z"/>
  </svg>
</atom-button>

<atom-button classList="btn btn--major-secondary btn--rounded" disabled="true">
  <span class="btn__label">Add User</span>
  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path d="M18 10.547h-4.538V6h-2.915v4.547H6v2.915h4.547V18h2.915v-4.538H18z"/>
  </svg>
</atom-button>

<atom-button classList="btn btn--major btn--expanded btn--rounded" disabled="true">
  <span class="btn__label">Add User</span>
  <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
    <path d="M18 10.547h-4.538V6h-2.915v4.547H6v2.915h4.547V18h2.915v-4.538H18z"/>
  </svg>
</atom-button>

<atom-button classList="btn btn--primary" disabled="true">
  <span class="btn__label">Confirm</span>
</atom-button>

<atom-button classList="btn btn--outline" disabled="true">
  <span class="btn__label">Confirm</span>
</atom-button>
