@import './src/assets/scss/abstracts/vars';
@import './src/assets/scss/abstracts/mixins';

.link {
  @include titles($font-size-step: 1.75,
                  $font-weight: 400,
                  $color: $color-primary,
                  $line-height-step: 2);
  display: inline-block;
  background-color: transparent;
  padding: $padding-link-vertical $padding-link-horizontal;
  border: 1px solid transparent;
  border-radius: $border-radius-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    border-color: $color-primary-2;  // TODO color is mismatching with design
  }

  &:active {
    background-color: #DAEBFC;  // TODO: color not from the pallette
    border-radius: $border-radius-link;
    border-color: transparent;
    text-decoration: none;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

