.story-title {
  font-size: 32px;
  margin: 10px 0;
  color: var(--color-complementary-4);
}

.list {
  padding: 0;
  margin: 0;
}

.list__item {
  list-style: none;
  margin: 0 35px 50px 0;

  display: flex;
  flex-direction: column;
}

.list.list--title .list__item{
  display: block;
}

.list .list__item:last-child {
  margin: 0
}

.list__title {
  font-size: 28px;
  margin: 20px 0 0;
  color: var(--color-complementary-4);
}

.list__title--code {
  font-size: 24px;
  margin: 10px 0;
  color: var(--color-complementary-4);
}

pre {
  width: auto;
  padding: 10px;
  background-color: $color-grayscale-1;
}


//  Titles Story
.table-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
  }

  &__minor-title {
    font-family: "Lato", sans-serif, Helvetica, Arial;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-grayscale);
    line-height: 15px;
  }

  &__value {
    font-family: "Lato", sans-serif, Helvetica, Arial;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-grayscale-4);
    line-height: 24px;
  }
}

.table-list__title {
  width: 18%;
}

.table-list__font-size {
  width: 7%;
}

.table-list__line-height {
  width: 9%;
}

.table-list__container {
  width: 11%;
}

.table-list__weight {
  width: 8%;
}

.table-list__color {
  width: 17%
}

.table-list__atom-title {
  width: 30%;
}
.list__icon {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-grey-lightest);
  margin-bottom: 10px;
}

// ICons

.story-icons {
  .list--icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .list__item {
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 35px 0;
  }

  .list__icon {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-background-atoms;
    margin-bottom: 10px;
  }

  .list__title--icon {
    margin: 0;
    white-space: nowrap;
  }

}
