@import "assets/scss/abstracts/vars";
@import "assets/scss/abstracts/mixins";

@import "assets/scss/layout/storybook";

@import "assets/scss/storybook/link";
@import "assets/scss/storybook/main";

@import "assets/scss/base/fonts";
@import "assets/scss/base/reset";
@import "assets/scss/base/base";

@import "assets/scss/theme/dark-theme";
@import "assets/scss/theme/light-theme";
@import "assets/scss/theme/smart-office-theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

pre[class*="language-"]:before, pre[class*="language-"]:after {
  display: none !important;
}
