<atom-link url="#" classList="link" title="Content" content="Link"></atom-link>

<atom-link url="#" classList="link link--hover" title="Content" content="Link"></atom-link>

<atom-link url="#" classList="link link--active" title="Content" content="Link"></atom-link>

<atom-link url="#" classList="link link--focus" title="Content" content="Link"></atom-link>

<atom-link url="#" classList="link link--disabled" title="Content" content="Link"></atom-link>
